In [3]:
from espncricinfo.summary import Summary
from espncricinfo.match import Match 
from espncricinfo.series import Series

import json
import requests
from bs4 import BeautifulSoup
from espncricinfo.exceptions import MatchNotFoundError, NoScorecardError

import pandas as pd

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\grequests.py:21: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. See https://github.com/gevent/gevent/issues/1016. Modules that had direct imports (NOT patched): ['urllib3.util (C:\\Users\\rbat\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\urllib3\\util\\__init__.py)', 'urllib3.contrib.pyopenssl (C:\\Users\\rbat\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\urllib3\\contrib\\pyopenssl.py)'].
  curious_george.patch_all(thread=False, select=False)
C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [4]:
testlist = ['1109605','1109606','1109607','1109608','1109609','1119496','1119497','1119498','1119499','1119500','1120090',
'1120091','1120092','1122726','1122727','1122728','1122279','1122280','1122281','1122282','1122283','1122284','1119546',
'1119547','1119548','1153246','1153247','1153249','1153251','1153253','1153255','1157754','1157755','1157756','1157757',
'1157758','1144997','1144998','1144999','1153691','1153692','1153693','1153694','1153695','1072310','1072311','1072312',
'1072313','1072314','1119537','1119538','1119539','1119540','1119541','1144986','1144987','1144988']

In [5]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

In [8]:
def getbattingdatafame(list1):
    df = pd.DataFrame()
    for x in list1:
        x1 = Match(x).html
        x2 = json.loads(x1.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])
        df1bat = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['1']['batsmen'])
        d1title = x2['gamePackage']['scorecard']['innings']['1']['title']
        df1bat['Team'] = d1title.split(' ')[0]
        df2bat = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['2']['batsmen'])
        d2title = x2['gamePackage']['scorecard']['innings']['2']['title']
        df2bat['Team'] = d2title.split(' ')[0]
        df1bat['Oppositionteam'] = d2title.split(' ')[0]
        df2bat['Oppositionteam'] = d1title.split(' ')[0]
        
        Finaldf_bat = pd.concat([df1bat.drop(['captain','commentary','runningScore','runningOver','stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#           df1.runningScore.apply(pd.Series),
           df1bat.stats.apply(flatten)], axis=1).append(pd.concat([df2bat.drop(['captain','commentary','runningScore','runningOver','stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#                                                               df2.runningScore.apply(pd.Series),
                                                               df2bat.stats.apply(flatten)], axis=1))
        Finaldf_bat['city'] = Match(x).town_name
        Finaldf_bat['date'] = Match(x).date
        df=pd.concat([df,Finaldf_bat])
    return(df)

In [7]:
battingdata = getbattingdatafame(testlist)

KeyError: "['video' 'videoId'] not found in axis"

In [22]:
battingdata

,name,Team,Oppositionteam,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)",city,date,video,videoId
0,N Dickwella,Sri,India,64,74,-,8,0,86.48,Dambulla,2017-08-20,NaN,NaN
1,MD Gunathilaka,Sri,India,35,44,-,4,0,79.54,Dambulla,2017-08-20,NaN,NaN
2,BKG Mendis,Sri,India,36,37,-,5,0,97.29,Dambulla,2017-08-20,NaN,NaN
3,WU Tharanga,Sri,India,13,23,-,0,0,56.52,Dambulla,2017-08-20,NaN,NaN
4,AD Mathews,Sri,India,36,50,-,1,1,72.00,Dambulla,2017-08-20,NaN,NaN
5,CK Kapugedera,Sri,India,1,2,-,0,0,50.00,Dambulla,2017-08-20,NaN,NaN
6,PWH de Silva,Sri,India,2,5,-,0,0,40.00,Dambulla,2017-08-20,NaN,NaN
7,NLTC Perera,Sri,India,0,5,-,0,0,0.00,Dambulla,2017-08-20,NaN,NaN
8,PADLR Sandakan,Sri,India,5,8,-,0,0,62.50,Dambulla,2017-08-20,NaN,NaN
9,SL Malinga,Sri,India,8,6,-,0,1,133.33,Dambulla,2017-08-20,NaN,NaN
10,MVT Fernando,Sri,India,0,6,-,0,0,0.00,Dambulla,2017-08-20,NaN,NaN
0,RG Sharma,India,Sri,4,13,-,0,0,30.76,Dambulla,2017-08-20,NaN,NaN
1,S Dhawan,India,Sri,132,90,-,20,3,146.66,Dambulla,2017-08-20,NaN,NaN
2,V Kohli,India,Sri,82,70,-,10,1,117.14,Dambulla,2017-08-20,NaN,NaN
0,N Dickwella,Sri,India,31,24,-,3,2,129.16,Kandy,2017-08-24,NaN,NaN
1,MD Gunathilaka,Sri,India,19,37,-,2,0,51.35,Kandy,2017-08-24,NaN,NaN
2,BKG Mendis,Sri,India,19,48,-,2,0,39.58,Kandy,2017-08-24,NaN,NaN
3,WU Tharanga,Sri,India,9,7,-,2,0,128.57,Kandy,2017-08-24,NaN,NaN
4,AD Mathews,Sri,India,20,41,-,2,0,48.78,Kandy,2017-08-24,NaN,NaN
5,TAM Siriwardana,Sri,India,58,58,-,2,1,100.00,Kandy,2017-08-24,NaN,NaN
6,CK Kapugedera,Sri,India,40,61,-,2,0,65.57,Kandy,2017-08-24,NaN,NaN
7,A Dananjaya,Sri,India,9,11,-,1,0,81.81,Kandy,2017-08-24,NaN,NaN
8,PVD Chameera,Sri,India,6,7,-,0,0,85.71,Kandy,2017-08-24,NaN,NaN
9,MVT Fernando,Sri,India,3,6,-,0,0,50.00,Kandy,2017-08-24,NaN,NaN
0,RG Sharma,India,Sri,54,45,-,5,3,120.00,Kandy,2017-08-24,NaN,NaN
1,S Dhawan,India,Sri,49,50,-,6,1,98.00,Kandy,2017-08-24,NaN,NaN
2,KL Rahul,India,Sri,4,6,-,0,0,66.66,Kandy,2017-08-24,NaN,NaN
3,KM Jadhav,India,Sri,1,3,-,0,0,33.33,Kandy,2017-08-24,NaN,NaN
4,V Kohli,India,Sri,4,2,-,1,0,200.00,Kandy,2017-08-24,NaN,NaN
5,MS Dhoni,India,Sri,45,68,-,1,0,66.17,Kandy,2017-08-24,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,JR Hazlewood,Australia,South,10,13,-,1,0,76.92,Adelaide,2018-11-09,NaN,NaN
0,Q de Kock,South,Australia,9,12,-,1,0,75.00,Adelaide,2018-11-09,NaN,NaN
1,RR Hendricks,South,Australia,16,27,-,1,0,59.25,Adelaide,2018-11-09,NaN,NaN
2,AK Markram,South,Australia,19,17,-,2,1,111.76,Adelaide,2018-11-09,NaN,NaN
3,F du Plessis,South,Australia,47,65,-,3,0,72.30,Adelaide,2018-11-09,NaN,NaN
4,H Klaasen,South,Australia,14,17,-,2,0,82.35,Adelaide,2018-11-09,NaN,NaN
5,DA Miller,South,Australia,51,71,-,3,1,71.83,Adelaide,2018-11-09,NaN,NaN
6,D Pretorius,South,Australia,14,32,-,0,0,43.75,Adelaide,2018-11-09,NaN,NaN
7,DW Steyn,South,Australia,3,11,-,0,0,27.27,Adelaide,2018-11-09,NaN,NaN
8,K Rabada,South,Australia,9,17,-,0,0,52.94,Adelaide,2018-11-09,NaN,NaN
9,L Ngidi,South,Australia,19,20,-,1,1,95.00,Adelaide,2018-11-09,NaN,NaN
10,Imran Tahir,South,Australia,11,11,-,2,0,100.00,Adelaide,2018-11-09,NaN,NaN
0,Q de Kock,South,Australia,4,7,-,0,0,57.14,Hobart,2018-11-11,NaN,NaN
1,RR Hendricks,South,Australia,8,26,-,2,0,30.76,Hobart,2018-11-11,NaN,NaN
2,AK Markram,South,Australia,32,42,-,1,3,76.19,Hobart,2018-11-11,NaN,NaN
3,F du Plessis,South,Australia,125,114,-,15,2,109.64,Hobart,2018-11-11,NaN,NaN
4,DA Miller,South,Australia,139,108,-,13,4,128.70,Hobart,2018-11-11,NaN,NaN
5,H Klaasen,South,Australia,1,2,-,0,0,50.00,Hobart,2018-11-11,NaN,NaN
6,D Pretorius,South,Australia,1,1,-,0,0,100.00,Hobart,2018-11-11,NaN,NaN
0,CA Lynn,Australia,South,0,1,-,0,0,0.00,Hobart,2018-11-11,NaN,NaN
1,AJ Finch,Australia,South,11,15,-,1,0,73.33,Hobart,2018-11-11,NaN,NaN
2,SE Marsh,Australia,South,106,102,-,7,4,103.92,Hobart,2018-11-11,NaN,NaN
3,TM Head,Australia,South,6,21,-,1,0,28.57,Hobart,2018-11-11,NaN,NaN
4,MP Stoinis,Australia,South,63,76,-,5,4,82.89,Hobart,2018-11-11,NaN,NaN
5,AT Carey,Australia,South,42,41,-,1,1,102.43,Hobart,2018-11-11,NaN,NaN
6,GJ Maxwell,Australia,South,35,27,-,3,0,129.62,Hobart,2018-11-11,NaN,NaN
7,PJ Cummins,Australia,South,7,12,-,1,0,58.33,Hobart,2018-11-11,NaN,NaN
8,MA Starc,Australia,South,0,1,-,0,0,0.00,Hobart,2018-11-11,NaN,NaN
9,A Zampa,Australia,South,0,3,-,0,0,0.00,Hobart,2018-11-11,NaN,NaN
10,JR Hazlewood,Australia,South,0,1,-,0,0,0.00,Hobart,2018-11-11,NaN,NaN

In [20]:
def getbowlingdatafame(list1):
    df = pd.DataFrame()
    for x in list1:
        x1 = Match(x).html
        x2 = json.loads(x1.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])
        df1bowl = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['1']['bowlers'])
        d1title = x2['gamePackage']['scorecard']['innings']['1']['title']
        df2bowl = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['2']['bowlers'])
        d2title = x2['gamePackage']['scorecard']['innings']['2']['title']
        df1bowl['Team'] = d2title.split(' ')[0]
        df2bowl['Team'] = d1title.split(' ')[0]
        df1bowl['Oppositionteam'] = d1title.split(' ')[0]
        df2bowl['Oppositionteam'] = d2title.split(' ')[0]
        
        Finaldf_bowl = pd.concat([df1bowl.drop(['captain','stats','hasVideoId','href','roles','trackingName'], axis=1),
                       df1bowl.stats.apply(flatten)], axis=1).append(pd.concat([df2bowl.drop(['captain','stats','hasVideoId','href','roles','trackingName'], axis=1),
                                                               df2bowl.stats.apply(flatten)], axis=1))
        Finaldf_bowl['city'] = Match(x).town_name
        Finaldf_bowl['date'] = Match(x).date
        df=pd.concat([df,Finaldf_bowl])
    return(df)

In [21]:
getbowlingdatafame(testlist)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,name,Team,Oppositionteam,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)",city,date,video,videoId
0,B Kumar,India,Sri,6,0,33,0,5.50,19,4,0,3,0,Dambulla,2017-08-20,NaN,NaN
1,HH Pandya,India,Sri,6,0,35,0,5.83,18,4,0,3,0,Dambulla,2017-08-20,NaN,NaN
2,JJ Bumrah,India,Sri,6.2,0,22,2,3.47,25,1,0,2,0,Dambulla,2017-08-20,NaN,NaN
3,YS Chahal,India,Sri,10,0,60,2,6.00,27,5,1,1,0,Dambulla,2017-08-20,NaN,NaN
4,KM Jadhav,India,Sri,5,0,26,2,5.20,15,3,0,1,0,Dambulla,2017-08-20,NaN,NaN
5,AR Patel,India,Sri,10,0,34,3,3.40,35,1,1,0,0,Dambulla,2017-08-20,NaN,NaN
0,SL Malinga,Sri,India,8,0,52,0,6.50,21,5,1,1,0,Dambulla,2017-08-20,NaN,NaN
1,MVT Fernando,Sri,India,6,0,43,0,7.16,19,7,0,1,0,Dambulla,2017-08-20,NaN,NaN
2,AD Mathews,Sri,India,2,0,9,0,4.50,6,1,0,0,0,Dambulla,2017-08-20,NaN,NaN
3,NLTC Perera,Sri,India,2,0,18,0,9.00,6,4,0,0,0,Dambulla,2017-08-20,NaN,NaN
4,PADLR Sandakan,Sri,India,6,0,63,0,10.50,10,7,3,0,0,Dambulla,2017-08-20,NaN,NaN
5,PWH de Silva,Sri,India,4.5,0,35,0,7.24,13,6,0,0,0,Dambulla,2017-08-20,NaN,NaN
0,B Kumar,India,Sri,10,0,53,0,5.30,32,5,0,3,0,Kandy,2017-08-24,NaN,NaN
1,JJ Bumrah,India,Sri,10,2,43,4,4.30,38,3,2,0,0,Kandy,2017-08-24,NaN,NaN
2,YS Chahal,India,Sri,10,1,43,2,4.30,29,3,0,0,0,Kandy,2017-08-24,NaN,NaN
3,HH Pandya,India,Sri,5.2,0,24,1,4.50,22,4,0,2,0,Kandy,2017-08-24,NaN,NaN
4,AR Patel,India,Sri,10,0,30,1,3.00,38,1,0,2,0,Kandy,2017-08-24,NaN,NaN
5,KM Jadhav,India,Sri,4.4,0,32,0,6.85,9,0,1,2,0,Kandy,2017-08-24,NaN,NaN
0,SL Malinga,Sri,India,8,0,49,0,6.12,25,4,1,6,0,Kandy,2017-08-24,NaN,NaN
1,MVT Fernando,Sri,India,6.2,0,32,0,5.05,19,2,0,6,0,Kandy,2017-08-24,NaN,NaN
2,AD Mathews,Sri,India,3,0,11,0,3.66,11,1,0,1,0,Kandy,2017-08-24,NaN,NaN
3,PVD Chameera,Sri,India,7,0,45,0,6.42,21,4,2,0,0,Kandy,2017-08-24,NaN,NaN
4,A Dananjaya,Sri,India,10,0,54,6,5.40,31,4,1,0,0,Kandy,2017-08-24,NaN,NaN
5,TAM Siriwardana,Sri,India,10,0,39,1,3.90,35,2,1,1,0,Kandy,2017-08-24,NaN,NaN
0,B Kumar,India,Sri,9,2,41,0,4.55,38,7,0,3,0,Kandy,2017-08-27,NaN,NaN
1,JJ Bumrah,India,Sri,10,2,27,5,2.70,43,2,0,1,0,Kandy,2017-08-27,NaN,NaN
2,YS Chahal,India,Sri,10,0,49,0,4.90,24,2,1,0,0,Kandy,2017-08-27,NaN,NaN
3,HH Pandya,India,Sri,8,0,42,1,5.25,24,5,0,2,0,Kandy,2017-08-27,NaN,NaN
4,AR Patel,India,Sri,10,1,35,1,3.50,35,2,0,1,0,Kandy,2017-08-27,NaN,NaN
5,KM Jadhav,India,Sri,3,0,12,1,4.00,9,0,0,1,0,Kandy,2017-08-27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,AL Phehlukwayo,South,Australia,6,0,33,3,5.50,21,2,1,3,0,Perth,2018-11-04,NaN,NaN
4,Imran Tahir,South,Australia,9,0,39,2,4.33,37,5,0,0,0,Perth,2018-11-04,NaN,NaN
0,JR Hazlewood,Australia,South,8,2,41,0,5.12,34,7,0,0,0,Perth,2018-11-04,NaN,NaN
1,NM Coulter-Nile,Australia,South,3,0,26,1,8.66,11,3,0,1,0,Perth,2018-11-04,NaN,NaN
2,MA Starc,Australia,South,8,0,47,0,5.87,26,4,0,1,0,Perth,2018-11-04,NaN,NaN
3,PJ Cummins,Australia,South,6,2,18,0,3.00,27,1,0,1,0,Perth,2018-11-04,NaN,NaN
4,MP Stoinis,Australia,South,4.2,1,16,3,3.69,18,2,0,0,0,Perth,2018-11-04,NaN,NaN
0,DW Steyn,South,Australia,10,1,31,2,3.10,40,2,0,0,0,Adelaide,2018-11-09,NaN,NaN
1,L Ngidi,South,Australia,9,0,67,1,7.44,23,9,0,2,0,Adelaide,2018-11-09,NaN,NaN
2,K Rabada,South,Australia,9.3,0,54,4,5.68,31,4,1,0,0,Adelaide,2018-11-09,NaN,NaN
3,D Pretorius,South,Australia,10,0,32,3,3.20,38,1,1,0,0,Adelaide,2018-11-09,NaN,NaN
4,Imran Tahir,South,Australia,10,1,38,0,3.80,37,4,0,0,0,Adelaide,2018-11-09,NaN,NaN
0,MA Starc,Australia,South,10,1,51,2,5.10,39,4,1,5,0,Adelaide,2018-11-09,NaN,NaN
1,JR Hazlewood,Australia,South,10,0,42,2,4.20,36,3,0,3,0,Adelaide,2018-11-09,NaN,NaN
2,PJ Cummins,Australia,South,10,0,27,1,2.70,42,0,0,2,0,Adelaide,2018-11-09,NaN,NaN
3,A Zampa,Australia,South,9,0,57,0,6.33,20,5,1,0,0,Adelaide,2018-11-09,NaN,NaN
4,MP Stoinis,Australia,South,10,0,35,3,3.50,37,1,1,1,0,Adelaide,2018-11-09,NaN,NaN
5,GJ Maxwell,Australia,South,1,0,11,0,11.00,1,2,0,0,0,Adelaide,2018-11-09,NaN,NaN
0,MA Starc,Australia,South,10,1,57,2,5.70,33,5,1,2,0,Hobart,2018-11-11,NaN,NaN
1,JR Hazlewood,Australia,South,10,1,53,1,5.30,35,5,2,1,0,Hobart,2018-11-11,NaN,NaN
2,PJ Cummins,Australia,South,10,2,67,0,6.70,33,10,1,2,0,Hobart,2018-11-11,NaN,NaN
3,MP Stoinis,Australia,South,7,0,70,2,10.00,16,8,3,0,0,Hobart,2018-11-11,NaN,NaN
4,A Zampa,Australia,South,6,0,32,0,5.33,16,0,2,0,0,Hobart,2018-11-11,NaN,NaN
5,GJ Maxwell,Australia,South,7,0,38,0,5.42,18,3,0,1,0,Hobart,2018-11-11,NaN,NaN
0,DW Steyn,South,Australia,10,0,45,3,4.50,37,3,1,3,0,Hobart,2018-11-11,NaN,NaN
1,L Ngidi,South,Australia,10,0,56,1,5.60,30,5,1,1,0,Hobart,2018-11-11,NaN,NaN
2,K Rabada,South,Australia,10,3,40,3,4.00,38,2,1,3,0,Hobart,2018-11-11,NaN,NaN
3,Imran Tahir,South,Australia,7,0,58,0,8.28,13,4,3,1,0,Hobart,2018-11-11,NaN,NaN
4,D Pretorius,South,Australia,10,0,61,2,6.10,27,3,3,0,0,Hobart,2018-11-11,NaN,NaN
5,AK Markram,South,Australia,3,0,18,0,6.00,6,2,0,0,0,Hobart,2018-11-11,NaN,NaN

In [5]:
a = json.loads(x.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])

In [8]:
df1bat = pd.DataFrame(a['gamePackage']['scorecard']['innings']['1']['batsmen'])
d1title = a['gamePackage']['scorecard']['innings']['1']['title']
df1bat['Team'] = d1title.split(' ')[0]

df2bat = pd.DataFrame(a['gamePackage']['scorecard']['innings']['2']['batsmen'])
d2title = a['gamePackage']['scorecard']['innings']['2']['title']
df2bat['Team'] = d2title.split(' ')[0]

df1bat['Oppositionteam'] = d2title.split(' ')[0]
df2bat['Oppositionteam'] = d1title.split(' ')[0]

In [9]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

Finaldf_bat = pd.concat([df1bat.drop(['commentary','runningScore','runningOver', 'stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#           df1.runningScore.apply(pd.Series),
           df1bat.stats.apply(flatten)], axis=1).append(pd.concat([df2bat.drop(['commentary','runningScore','runningOver', 'stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#                                                               df2.runningScore.apply(pd.Series),
                                                               df2bat.stats.apply(flatten)], axis=1))

In [7]:
df1bowl = pd.DataFrame(a['gamePackage']['scorecard']['innings']['1']['bowlers'])
d1title = a['gamePackage']['scorecard']['innings']['1']['title']

df2bowl = pd.DataFrame(a['gamePackage']['scorecard']['innings']['2']['bowlers'])
d2title = a['gamePackage']['scorecard']['innings']['2']['title']

df1bowl['Team'] = d2title.split(' ')[0]
df2bowl['Team'] = d1title.split(' ')[0]

df1bowl['Oppositionteam'] = d1title.split(' ')[0]
df2bowl['Oppositionteam'] = d2title.split(' ')[0]

In [10]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

Finaldf_bowl = pd.concat([df1bowl.drop(['stats','hasVideoId','href','roles','trackingName'], axis=1),
           df1bowl.stats.apply(flatten)], axis=1).append(pd.concat([df2bowl.drop(['stats','hasVideoId','href','roles','trackingName'], axis=1),
                                                               df2bowl.stats.apply(flatten)], axis=1))

In [12]:
Finaldf_bowl['city'] = Match('1022353').town_name
Finaldf_bowl['date'] = Match('1022353').date

In [9]:
m = Series('10883')
m.year

AttributeError: 'Series' object has no attribute 'year'

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t: