In [3]:
from espncricinfo.summary import Summary
from espncricinfo.match import Match 
from espncricinfo.series import Series

import json
import requests
from bs4 import BeautifulSoup
from espncricinfo.exceptions import MatchNotFoundError, NoScorecardError

import pandas as pd

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\grequests.py:21: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. See https://github.com/gevent/gevent/issues/1016. Modules that had direct imports (NOT patched): ['urllib3.contrib.pyopenssl (C:\\Users\\rbat\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\urllib3\\contrib\\pyopenssl.py)', 'urllib3.util (C:\\Users\\rbat\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\urllib3\\util\\__init__.py)'].
  curious_george.patch_all(thread=False, select=False)
C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [28]:
testlist = ['1119496', '1022353']

In [79]:
Match(a).match_url

'http://www.espncricinfo.com/matches/engine/match/1119496.html'

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [7]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [64]:
def getbattingdatafame(list1):
    df = pd.DataFrame()
    for x in list1:
        x1 = Match(x).html
        x2 = json.loads(x1.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])
        df1bat = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['1']['batsmen'])
        d1title = x2['gamePackage']['scorecard']['innings']['1']['title']
        df1bat['Team'] = d1title.split(' ')[0]
        df2bat = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['2']['batsmen'])
        d2title = x2['gamePackage']['scorecard']['innings']['2']['title']
        df2bat['Team'] = d2title.split(' ')[0]
        df1bat['Oppositionteam'] = d2title.split(' ')[0]
        df2bat['Oppositionteam'] = d1title.split(' ')[0]
        
        Finaldf_bat = pd.concat([df1bat.drop(['captain','commentary','runningScore','runningOver', 'stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#           df1.runningScore.apply(pd.Series),
           df1bat.stats.apply(flatten)], axis=1).append(pd.concat([df2bat.drop(['captain','commentary','runningScore','runningOver', 'stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#                                                               df2.runningScore.apply(pd.Series),
                                                               df2bat.stats.apply(flatten)], axis=1))
        Finaldf_bat['city'] = Match(x).town_name
        Finaldf_bat['date'] = Match(x).date
        df=pd.concat([df,Finaldf_bat])
    return(df)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [65]:
getbattingdatafame(testlist)

,name,Team,Oppositionteam,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)",city,date
0,AM Rahane,India,Australia,5,15,18,0,0,33.33,Chennai,2017-09-17
1,RG Sharma,India,Australia,28,44,81,3,0,63.63,Chennai,2017-09-17
2,V Kohli,India,Australia,0,4,7,0,0,0.00,Chennai,2017-09-17
3,MK Pandey,India,Australia,0,2,4,0,0,0.00,Chennai,2017-09-17
4,KM Jadhav,India,Australia,40,54,72,5,0,74.07,Chennai,2017-09-17
5,MS Dhoni,India,Australia,79,88,152,4,2,89.77,Chennai,2017-09-17
6,HH Pandya,India,Australia,83,66,86,5,5,125.75,Chennai,2017-09-17
7,B Kumar,India,Australia,32,30,45,5,0,106.66,Chennai,2017-09-17
8,Kuldeep Yadav,India,Australia,0,0,2,0,0,-,Chennai,2017-09-17
0,DA Warner,Australia,India,25,28,47,2,0,89.28,Chennai,2017-09-17
1,HWR Cartwright,Australia,India,1,8,15,0,0,12.50,Chennai,2017-09-17
2,SPD Smith,Australia,India,1,5,8,0,0,20.00,Chennai,2017-09-17
3,TM Head,Australia,India,5,6,6,0,0,83.33,Chennai,2017-09-17
4,GJ Maxwell,Australia,India,39,18,25,3,4,216.66,Chennai,2017-09-17
5,MP Stoinis,Australia,India,3,10,28,0,0,30.00,Chennai,2017-09-17
6,MS Wade,Australia,India,9,10,17,1,0,90.00,Chennai,2017-09-17
7,JP Faulkner,Australia,India,32,25,41,1,1,128.00,Chennai,2017-09-17
8,PJ Cummins,Australia,India,9,7,7,1,0,128.57,Chennai,2017-09-17
9,NM Coulter-Nile,Australia,India,2,5,9,0,0,40.00,Chennai,2017-09-17
10,A Zampa,Australia,India,5,4,9,0,0,125.00,Chennai,2017-09-17
0,RG Sharma,India,Pakistan,91,119,146,7,2,76.47,Birmingham,2017-06-04
1,S Dhawan,India,Pakistan,68,65,95,6,1,104.61,Birmingham,2017-06-04
2,V Kohli,India,Pakistan,81,68,108,6,3,119.11,Birmingham,2017-06-04
3,Yuvraj Singh,India,Pakistan,53,32,49,8,1,165.62,Birmingham,2017-06-04
4,HH Pandya,India,Pakistan,20,6,8,0,3,333.33,Birmingham,2017-06-04
0,Azhar Ali,Pakistan,India,50,65,85,6,0,76.92,Birmingham,2017-06-04
1,Ahmed Shehzad,Pakistan,India,12,22,38,1,0,54.54,Birmingham,2017-06-04
2,Babar Azam,Pakistan,India,8,12,15,1,0,66.66,Birmingham,2017-06-04
3,Mohammad Hafeez,Pakistan,India,33,43,59,2,0,76.74,Birmingham,2017-06-04
4,Shoaib Malik,Pakistan,India,15,9,14,2,1,166.66,Birmingham,2017-06-04
5,Sarfaraz Ahmed,Pakistan,India,15,16,26,2,0,93.75,Birmingham,2017-06-04
6,Imad Wasim,Pakistan,India,0,1,5,0,0,0.00,Birmingham,2017-06-04
7,Shadab Khan,Pakistan,India,14,16,24,1,1,87.50,Birmingham,2017-06-04
8,Mohammad Amir,Pakistan,India,9,16,16,0,0,56.25,Birmingham,2017-06-04
9,Hasan Ali,Pakistan,India,0,2,3,0,0,0.00,Birmingham,2017-06-04

In [74]:
def getbowlingdatafame(list1):
    df = pd.DataFrame()
    for x in list1:
        x1 = Match(x).html
        x2 = json.loads(x1.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])
        df1bowl = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['1']['bowlers'])
        d1title = x2['gamePackage']['scorecard']['innings']['1']['title']
        df2bowl = pd.DataFrame(x2['gamePackage']['scorecard']['innings']['2']['bowlers'])
        d2title = x2['gamePackage']['scorecard']['innings']['2']['title']
        df1bowl['Team'] = d2title.split(' ')[0]
        df2bowl['Team'] = d1title.split(' ')[0]
        df1bowl['Oppositionteam'] = d1title.split(' ')[0]
        df2bowl['Oppositionteam'] = d2title.split(' ')[0]
        
        Finaldf_bowl = pd.concat([df1bowl.drop(['captain','stats','hasVideoId','href','roles','trackingName'], axis=1),
                       df1bowl.stats.apply(flatten)], axis=1).append(pd.concat([df2bowl.drop(['captain','stats','hasVideoId','href','roles','trackingName'], axis=1),
                                                               df2bowl.stats.apply(flatten)], axis=1))
        Finaldf_bowl['city'] = Match(x).town_name
        Finaldf_bowl['date'] = Match(x).date
        df=pd.concat([df,Finaldf_bowl])
    return(df)

In [75]:
getbowlingdatafame(testlist)

,name,Team,Oppositionteam,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)",city,date
0,PJ Cummins,Australia,India,10,1,44,0,4.40,33,3,0,2,0,Chennai,2017-09-17
1,NM Coulter-Nile,Australia,India,10,0,44,3,4.40,38,5,0,1,1,Chennai,2017-09-17
2,JP Faulkner,Australia,India,10,1,67,1,6.70,31,8,2,0,2,Chennai,2017-09-17
3,MP Stoinis,Australia,India,10,0,54,2,5.40,27,3,1,2,0,Chennai,2017-09-17
4,A Zampa,Australia,India,10,0,66,1,6.60,26,3,4,0,0,Chennai,2017-09-17
0,B Kumar,India,Australia,4,0,25,1,6.25,10,2,0,2,0,Chennai,2017-09-17
1,JJ Bumrah,India,Australia,4,0,20,1,5.00,13,2,0,1,0,Chennai,2017-09-17
2,HH Pandya,India,Australia,4,0,28,2,7.00,9,2,0,1,0,Chennai,2017-09-17
3,Kuldeep Yadav,India,Australia,4,0,33,2,8.25,12,1,3,0,0,Chennai,2017-09-17
4,YS Chahal,India,Australia,5,0,30,3,6.00,16,1,2,1,0,Chennai,2017-09-17
0,Mohammad Amir,Pakistan,India,8.1,1,32,0,3.91,30,4,0,0,0,Birmingham,2017-06-04
1,Imad Wasim,Pakistan,India,9.1,0,66,0,7.20,22,4,3,1,0,Birmingham,2017-06-04
2,Hasan Ali,Pakistan,India,10,0,70,1,7.00,30,7,3,0,1,Birmingham,2017-06-04
3,Wahab Riaz,Pakistan,India,8.4,0,87,0,10.03,13,11,2,1,1,Birmingham,2017-06-04
4,Shadab Khan,Pakistan,India,10,0,52,1,5.20,21,0,2,0,0,Birmingham,2017-06-04
5,Shoaib Malik,Pakistan,India,2,0,10,0,5.00,5,1,0,0,0,Birmingham,2017-06-04
0,B Kumar,India,Pakistan,5,1,23,1,4.60,17,1,0,2,0,Birmingham,2017-06-04
1,UT Yadav,India,Pakistan,7.4,1,30,3,3.91,30,3,0,1,0,Birmingham,2017-06-04
2,JJ Bumrah,India,Pakistan,5,0,23,0,4.60,17,3,0,0,0,Birmingham,2017-06-04
3,HH Pandya,India,Pakistan,8,0,43,2,5.37,23,4,0,3,0,Birmingham,2017-06-04
4,RA Jadeja,India,Pakistan,8,0,43,2,5.37,28,4,2,0,0,Birmingham,2017-06-04

In [5]:
a = json.loads(x.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])

In [8]:
df1bat = pd.DataFrame(a['gamePackage']['scorecard']['innings']['1']['batsmen'])
d1title = a['gamePackage']['scorecard']['innings']['1']['title']
df1bat['Team'] = d1title.split(' ')[0]

df2bat = pd.DataFrame(a['gamePackage']['scorecard']['innings']['2']['batsmen'])
d2title = a['gamePackage']['scorecard']['innings']['2']['title']
df2bat['Team'] = d2title.split(' ')[0]

df1bat['Oppositionteam'] = d2title.split(' ')[0]
df2bat['Oppositionteam'] = d1title.split(' ')[0]

In [9]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

Finaldf_bat = pd.concat([df1bat.drop(['commentary','runningScore','runningOver', 'stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#           df1.runningScore.apply(pd.Series),
           df1bat.stats.apply(flatten)], axis=1).append(pd.concat([df2bat.drop(['commentary','runningScore','runningOver', 'stats','hasVideoId','href','isNotOut','roles','shortText','trackingName'], axis=1),
#                                                               df2.runningScore.apply(pd.Series),
                                                               df2bat.stats.apply(flatten)], axis=1))

In [7]:
df1bowl = pd.DataFrame(a['gamePackage']['scorecard']['innings']['1']['bowlers'])
d1title = a['gamePackage']['scorecard']['innings']['1']['title']

df2bowl = pd.DataFrame(a['gamePackage']['scorecard']['innings']['2']['bowlers'])
d2title = a['gamePackage']['scorecard']['innings']['2']['title']

df1bowl['Team'] = d2title.split(' ')[0]
df2bowl['Team'] = d1title.split(' ')[0]

df1bowl['Oppositionteam'] = d1title.split(' ')[0]
df2bowl['Oppositionteam'] = d2title.split(' ')[0]

In [10]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

Finaldf_bowl = pd.concat([df1bowl.drop(['stats','hasVideoId','href','roles','trackingName'], axis=1),
           df1bowl.stats.apply(flatten)], axis=1).append(pd.concat([df2bowl.drop(['stats','hasVideoId','href','roles','trackingName'], axis=1),
                                                               df2bowl.stats.apply(flatten)], axis=1))

In [12]:
Finaldf_bowl['city'] = Match('1022353').town_name
Finaldf_bowl['date'] = Match('1022353').date

In [91]:
m = Series('18808')
m.years

['2019']