In [193]:
import numpy as np
import pandas as pd

In [194]:
battingdata = pd.read_csv('battingdata1.csv')

In [195]:
battingdata.head()

,Unnamed: 0,Oppositionteam,Team,captain,commentary,isNotOut,name,roles,runningOver,runningScore,...,lighting,home_team,series_name,series_id,description,ground_id,ground_name,match_id,video,videoId
0,0,Australia,England,True,"that's the end of Strauss, Lee strikes, a shor...",False,AJ Strauss,(c),{'overs': 20.4},"{'wickets': 3, 'runs': 131}",...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
1,1,Australia,England,False,and that's exactly what Hussey has produced. D...,False,SM Davies,wk,{'overs': 12.1},"{'wickets': 1, 'runs': 90}",...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
2,2,Australia,England,False,a smart catch from Haddin ends Trott's innings...,False,IJL Trott,NaN,{'overs': 14.2},"{'wickets': 2, 'runs': 100}",...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
3,3,Australia,England,False,"superb work from Johnson, Pietersen's run-out,...",False,KP Pietersen,NaN,{'overs': 43.4},"{'wickets': 7, 'runs': 257}",...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
4,4,Australia,England,False,"soft dismissal that, Smith has struck, a lengt...",False,IR Bell,NaN,{'overs': 30.1},"{'wickets': 4, 'runs': 174}",...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN

In [196]:
battingdata_max = battingdata.loc[battingdata.groupby(['match_id'])["('R', 'runs')"].idxmax()]

In [197]:
battingdata_max.head()

,Unnamed: 0,Oppositionteam,Team,captain,commentary,isNotOut,name,roles,runningOver,runningScore,...,lighting,home_team,series_name,series_id,description,ground_id,ground_name,match_id,video,videoId
4482,0,Bangladesh,India,False,"end of an epic from Sehwag, he falls for the s...",False,V Sehwag,NaN,{'overs': 47.3},"{'wickets': 3, 'runs': 355}",...,day/night match,BDESH,India tour of Bangladesh and Sri Lanka,12960,"ICC Cricket World Cup, 1st Match, Group B: Ban...",2025,"Shere Bangla National Stadium, Mirpur",433558,NaN,NaN
137,0,Zimbabwe,Australia,False,"<b>huge appeal for lbw, turned down</b>. Will ...",False,SR Watson,NaN,{'overs': 31.2},"{'wickets': 2, 'runs': 140}",...,day/night match,ZIM,"Zimbabwe tour of Bangladesh, India, Sri Lanka ...",12972,"ICC Cricket World Cup, 4th Match, Group A: Aus...",840,"Sardar Patel Stadium, Motera, Ahmedabad",433561,NaN,NaN
167,0,New,Australia,False,Bennett has picked two in two. Do NZ have a ch...,False,SR Watson,NaN,{'overs': 18.3},"{'wickets': 2, 'runs': 136}",...,day match,NZ,"New Zealand tour of Bangladesh, India and Sri ...",12961,"ICC Cricket World Cup, 8th Match, Group A: Aus...",2399,"Vidarbha Cricket Association Stadium, Jamtha, ...",433565,NaN,NaN
4509,0,India,England,True,this match is alive! Zaheer has flipped it on ...,False,AJ Strauss,(c),{'overs': 42.5},"{'wickets': 4, 'runs': 281}",...,day/night match,INDIA,"England tour of Bangladesh, India and Sri Lanka",12958,"ICC Cricket World Cup, 11th Match, Group B: In...",683,"M Chinnaswamy Stadium, Bangalore",433568,NaN,NaN
4519,0,India,Ireland,True,the drinks break strikes. Porterfield is gone ...,False,WTS Porterfield,(c),{'overs': 37.1},"{'wickets': 6, 'runs': 160}",...,day/night match,INDIA,"Ireland tour of Bangladesh, India, Sri Lanka a...",12971,"ICC Cricket World Cup, 22nd Match, Group B: In...",683,"M Chinnaswamy Stadium, Bangalore",433578,NaN,NaN

In [198]:
series_scores = battingdata.pivot_table(values=["('R', 'runs')"], index=['series_id', 'series_name', 'home_team', 'name'], aggfunc='sum').reset_index()

In [199]:
#series_max_scores1 = series_scores.groupby(['series_id','series_name', 'home_team'])
#series_max_scores1 = pd.DataFrame(series_max_scores1["('R', 'runs')"].nlargest(3))

In [200]:
series_max_scores = series_scores.loc[series_scores.groupby(['series_id','series_name', 'home_team'])["('R', 'runs')"].idxmax()]

In [201]:
series_max_scores[series_max_scores.series_name == 'India tour of Australia']

      series_id              series_name home_team       name  ('R', 'runs')
451       11188  India tour of Australia       AUS  RG Sharma            441
1861      12641  India tour of Australia       AUS  DJ Hussey            213
2590      18693  India tour of Australia       AUS   SE Marsh            224

In [202]:
#series_max_scores['Teams'] = series_max_scores.series_name.apply(lambda x: x.split(' '))

In [203]:
series_max_scores.replace(regex={'New Zealand': 'New-Zealand', 
                           'West Indies': 'West-Indies', 
                           'South Africa': 'South-Africa', 
                           'Sri Lanka': 'Sri-Lanka', 
                           'United Arab Emirates': 'United-Arab-Emirates',
                           'tour of': '', ' and': '',}, inplace=True)

In [204]:
series_max_scores.series_name = series_max_scores.series_name.apply(lambda x: x.split(' '))

In [205]:
series_max_scores = series_max_scores.series_name.apply(pd.Series).merge(series_max_scores, left_index = True, right_index = True)

In [206]:
series_max_scores = series_max_scores.drop(['series_id',"('R', 'runs')",'series_name'], axis=1)

In [207]:
series_max_scores.head()

               0 1             2    3    4    5 home_team        name
17     Australia     New-Zealand  NaN  NaN  NaN        NZ  MJ Guptill
43     Australia     West-Indies  NaN  NaN  NaN        WI  MN Samuels
57  South-Africa     West-Indies  NaN  NaN  NaN        SA   DA Warner
91       Ireland    South-Africa  NaN  NaN  NaN       IRE  UT Khawaja
99     Australia    South-Africa  NaN  NaN  NaN        SA   DA Warner

In [209]:
#series_max_scores.to_csv('series_max_scores.csv')

In [210]:
series_max_scores.name.unique()

array(['MJ Guptill', 'MN Samuels', 'DA Warner', 'UT Khawaja', 'GJ Bailey',
       'KL Rahul', 'MP Stoinis', 'V Kohli', 'KM Jadhav', 'AJ Finch',
       'BA Stokes', 'RG Sharma', 'S Dhawan', 'Fakhar Zaman', 'AM Rahane',
       'AB de Villiers', 'AT Rayudu', 'EJG Morgan', 'BB McCullum',
       'GD Elliott', 'JO Holder', 'MJ Clarke', 'BRM Taylor', 'SPD Smith',
       'GJ Maxwell', 'KC Sangakkara', 'JWA Taylor', 'AD Mathews',
       'F du Plessis', 'Mushfiqur Rahim', 'Mohammad Hafeez',
       'KS Williamson', 'Q de Kock', 'WU Tharanga', 'J Charles',
       'SE Marsh', 'DPMD Jayawardene', 'AC Voges', 'SR Watson',
       'Nasir Jamshed', 'PJ Hughes', 'SK Raina', 'IR Bell', 'KA Pollard',
       'SR Tendulkar', 'DJ Hussey', 'JH Kallis', 'MS Dhoni',
       'Yuvraj Singh', 'Asad Shafiq', 'AJ Strauss', 'V Sehwag',
       'RT Ponting', 'WTS Porterfield', 'CO Obuya', 'HM Amla',
       'IJL Trott', 'JE Root', 'JJ Roy', 'DA Miller'], dtype=object)

In [211]:
from sklearn.preprocessing import LabelEncoder

In [212]:
lb_make = LabelEncoder()
series_max_scores["highscorer_name"] = lb_make.fit_transform(series_max_scores["name"])
series_max_scores[["name", "highscorer_name"]].head(5)

          name  highscorer_name
17  MJ Guptill               37
43  MN Samuels               38
57   DA Warner               13
91  UT Khawaja               54
99   DA Warner               13

In [216]:
#series_max_scores.columns

Index([0, 1, 2, 3, 4, 5, 'home_team', 'name', 'highscorer_name'], dtype='object')

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [217]:
variables = series_max_scores.loc[:, [0, 2, 3, 4, 5]]

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [223]:
#variables.apply(lambda x: pd.Series(1, index=x), axis=1).fillna(0)

In [269]:
series_max_scores = pd.read_excel('series_max_scores.xlsx')

In [270]:
series_max_scores.head()

           Team1         Team2 home_team        name  highscorer_name
17     Australia   New-Zealand        NZ  MJ Guptill               37
43     Australia   West-Indies        WI  MN Samuels               38
57  South-Africa   West-Indies        SA   DA Warner               13
91       Ireland  South-Africa       IRE  UT Khawaja               54
99     Australia  South-Africa        SA   DA Warner               13

In [271]:
series_max_scores = series_max_scores.drop('name', axis=1)

In [272]:
max_scores_dummy = pd.get_dummies(series_max_scores)

In [273]:
max_scores_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 17 to 2739
Data columns (total 43 columns):
highscorer_name               119 non-null int64
Team1_Afghanistan             119 non-null uint8
Team1_Australia               119 non-null uint8
Team1_Canada                  119 non-null uint8
Team1_England                 119 non-null uint8
Team1_India                   119 non-null uint8
Team1_Ireland                 119 non-null uint8
Team1_Kenya                   119 non-null uint8
Team1_Netherlands             119 non-null uint8
Team1_New-Zealand             119 non-null uint8
Team1_Pakistan                119 non-null uint8
Team1_Scotland                119 non-null uint8
Team1_South-Africa            119 non-null uint8
Team1_Sri-Lanka               119 non-null uint8
Team1_United-Arab-Emirates    119 non-null uint8
Team1_West-Indies             119 non-null uint8
Team1_Zimbabwe                119 non-null uint8
Team2_Australia               119 non-null uint8
Team2_Bangladesh              119 non-null uint8
Team2_England                 119 non-null uint8
Team2_India                   119 non-null uint8
Team2_Netherlands             119 non-null uint8
Team2_New-Zealand             119 non-null uint8
Team2_South-Africa            119 non-null uint8
Team2_Sri-Lanka               119 non-null uint8
Team2_United-Arab-Emirates    119 non-null uint8
Team2_West-Indies             119 non-null uint8
Team2_Zimbabwe                119 non-null uint8
home_team_AUS                 119 non-null uint8
home_team_BDESH               119 non-null uint8
home_team_CAN                 119 non-null uint8
home_team_ENG                 119 non-null uint8
home_team_INDIA               119 non-null uint8
home_team_IRE                 119 non-null uint8
home_team_KENYA               119 non-null uint8
home_team_NZ                  119 non-null uint8
home_team_PAK                 119 non-null uint8
home_team_SA                  119 non-null uint8
home_team_SCOT                119 non-null uint8
home_team_SL                  119 non-null uint8
home_team_UAE                 119 non-null uint8
home_team_WI                  119 non-null uint8
home_team_ZIM                 119 non-null uint8
dtypes: int64(1), uint8(42)
memory usage: 6.7 KB

In [274]:
max_scores_dummy.shape

(119, 43)

In [275]:
scorer_variables = max_scores_dummy.drop("highscorer_name", axis=1)
scorer_results = max_scores_dummy["highscorer_name"]

In [276]:
scorer_variables.head()

,Team1_Afghanistan,Team1_Australia,Team1_Canada,Team1_England,Team1_India,Team1_Ireland,Team1_Kenya,Team1_Netherlands,Team1_New-Zealand,Team1_Pakistan,...,home_team_IRE,home_team_KENYA,home_team_NZ,home_team_PAK,home_team_SA,home_team_SCOT,home_team_SL,home_team_UAE,home_team_WI,home_team_ZIM
17,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
43,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
57,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
91,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
99,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [277]:
# importing necessary libraries 
from sklearn import datasets 
from sklearn.metrics import confusion_matrix 
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [278]:
lr = LogisticRegression(random_state=5, class_weight='balanced')

In [279]:
parameters = {'C': (0.0001, 0.001, 0.01, 0.1, 1, 10)}
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=5)

In [280]:
# dividing X, y into train and test data 
X_train, X_cv, y_train, y_cv = train_test_split(scorer_variables, scorer_results, test_size=0.3,
                                                random_state = 100)

In [281]:
tree = DecisionTreeClassifier(max_depth=5, random_state=17)
knn = KNeighborsClassifier(n_neighbors=10)

tree.fit(X_train, y_train)
knn.fit(X_train, y_train)

tree_pred = tree.predict(X_cv)
accuracy_score(y_cv, tree_pred)

0.08333333333333333

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [282]:
tree_pred = tree.predict(X_cv)
accuracy_score(y_cv, tree_pred)

0.08333333333333333

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [283]:
knn_pred = knn.predict(X_cv)
accuracy_score(y_cv, knn_pred)

0.027777777777777776

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [284]:
from sklearn.model_selection import GridSearchCV, cross_val_score

tree_params = {'max_depth': range(1,11),
               'max_features': range(4,19)}

tree_grid = GridSearchCV(tree, tree_params,
                         cv=5, n_jobs=-1, verbose=True)

tree_grid.fit(X_train, y_train)

Fitting 5 folds for each of 150 candidates, totalling 750 fits

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 750 out of 750 | elapsed:    0.3s finished
C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=17,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'max_depth': range(1, 11), 'max_features': range(4, 19)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=True)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [285]:
tree_grid.best_params_#{'max_depth': 5, 'max_features': 17}

{'max_depth': 1, 'max_features': 4}

In [286]:
tree_grid.best_score_ #0.94256322331761677

0.12048192771084337

In [287]:
accuracy_score(y_cv, tree_grid.predict(X_cv))

0.027777777777777776

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [288]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100, n_jobs=-1, 
                                random_state=17)
cross_val_score(forest, X_train, y_train, cv=5)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

array([0.08163265, 0.07142857, 0.        , 0.        , 0.2       ])

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [289]:
forest_params = {'max_depth': range(6, 12),
                 'max_features': range(4, 19)}

forest_grid = GridSearchCV(forest, forest_params,
                           cv=5, n_jobs=-1, verbose=True)

forest_grid.fit(X_train, y_train)

forest_grid.best_params_, forest_grid.best_score_

accuracy_score(y_cv, forest_grid.predict(X_cv))

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

Fitting 5 folds for each of 90 candidates, totalling 450 fits

[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:    5.7s
[Parallel(n_jobs=-1)]: Done 426 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done 450 out of 450 | elapsed:   13.9s finished
C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

0.05555555555555555

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [147]:
import pickle #for saving the model

In [148]:
filename = 'model_winner.sav'
pickle.dump(forest_grid, open(filename, 'wb'))

In [149]:
%xmode

Exception reporting mode: Minimal

In [150]:
record = np.zeros((1,316),dtype='float64')
#record[0,315] = 0

In [151]:
from sklearn.svm import SVC
classifier = SVC(kernel = "rbf", random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=0,
  shrinking=True, tol=0.001, verbose=False)

In [152]:
classifier.predict(X_cv)

array([1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [159]:
filename = 'model_winnerSVC.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [165]:
def result(Team, Opposition, Home_team, City, lighting):
    
    dataset = pd.read_csv('Match_predictions.csv')
    vectorized = pd.get_dummies(dataset.iloc[:,1:6])
    
    flag = [False, False, False, False, False]
    
    record = np.zeros((1,93),dtype='float64')
    t = "Team_" + Team
    o = "Opposition_" + Opposition
    h = "Home team_" + Home_team
    c = "City_" + City
    l = lighting
        
    record[0,92] = l
    
    for i,vec in enumerate(vectorized.columns):
        if vec == t:
            record[0,i] = 1
            flag[0] = True
        if vec == o:
            record[0,i] = 1
            flag[1] = True
        if vec == h:
            record[0,i] = 1
            flag[2] = True
        if vec == c:
            record[0,i] = 1
            flag[3] = True
            
    if(flag[0]==True and flag[1]==True and flag[2]==True and flag[3]==True):
        filename = 'model_winnerSVC.sav'
        model = pickle.load(open(filename, 'rb'))
        ans = model.predict(record)
        
        if ans == 1:
            print("INDIA will win")
        elif ans == 2:
            print("AUS will win")
            
    else:
        print("Incorrect details!")

In [187]:
result("AUS","INDIA","INDIA","London",0)

INDIA will win

In [ ]:
from sklearn.pipeline import Pipeline

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 10)}

knn_grid = GridSearchCV(knn_pipe, knn_params,
                        cv=5, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

knn_grid.best_params_, knn_grid.best_score_

In [ ]:
accuracy_score(y_cv, knn_grid.predict(X_cv))

In [80]:
# fit a tree.DecisionTreeClassifier() model to the data
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)
print(); print(model)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [91]:
    # make predictions
    expected_y  = y_cv
    predicted_y = model.predict(X_cv)
    
    # summarize the fit of the model
    print(); print('tree.DecisionTreeClassifier(): ')
#    print(); print(metrics.classification_report(expected_y, predicted_y, 
#                   target_names=dataset.target_names))
    print(); print(metrics.confusion_matrix(expected_y, predicted_y))

tree.DecisionTreeClassifier():

[[27  1]
 [ 0 14]]

In [92]:
# training a Naive Bayes classifier 
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB().fit(X_train, y_train) 
gnb_predictions = gnb.predict(X_cv)

In [93]:
# accuracy on X_test 
accuracy = gnb.score(X_cv, y_cv) 
print(accuracy)

0.6190476190476191

In [94]:
# creating a confusion matrix 
confusion_matrix(y_cv, gnb_predictions)

array([[15, 13],
       [ 3, 11]], dtype=int64)