In [93]:
import numpy as np
import pandas as pd

In [176]:
battingdata = pd.read_csv('battingdata1.csv')
bowlingdata = pd.read_csv('bowlingdata1.csv')  
Matches_results = pd.read_csv('Matches_results1.csv')

In [188]:
battingdata.head()

,Oppositionteam,Team,captain,commentary,isNotOut,name,roles,runningOver,runningScore,shortText,...,lighting,home_team,series_name,series_id,description,ground_id,ground_name,match_id,video,videoId
0,Australia,England,True,"that's the end of Strauss, Lee strikes, a shor...",False,AJ Strauss,(c),{'overs': 20.4},"{'wickets': 3, 'runs': 131}",c Clarke b Lee,...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
1,Australia,England,False,and that's exactly what Hussey has produced. D...,False,SM Davies,wk,{'overs': 12.1},"{'wickets': 1, 'runs': 90}",b DJ Hussey,...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
2,Australia,England,False,a smart catch from Haddin ends Trott's innings...,False,IJL Trott,NaN,{'overs': 14.2},"{'wickets': 2, 'runs': 100}",c wkHaddin b DJ Hussey,...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
3,Australia,England,False,"superb work from Johnson, Pietersen's run-out,...",False,KP Pietersen,NaN,{'overs': 43.4},"{'wickets': 7, 'runs': 257}",run out (Johnson),...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN
4,Australia,England,False,"soft dismissal that, Smith has struck, a lengt...",False,IR Bell,NaN,{'overs': 30.1},"{'wickets': 4, 'runs': 174}",c Clarke b Smith,...,day/night match,AUS,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962,NaN,NaN

In [195]:
battingdata_date = pd.DataFrame(battingdata.groupby(['match_id', 'Team'])['name'].apply(dict))

In [198]:
battingdata_date = battingdata_date.reset_index()

In [203]:
battingdata_date

      match_id        Team  level_2             name
0       433558  Bangladesh     4487      Tamim Iqbal
1       433558  Bangladesh     4488      Imrul Kayes
2       433558  Bangladesh     4489  Junaid Siddique
3       433558  Bangladesh     4490  Shakib Al Hasan
4       433558  Bangladesh     4491  Mushfiqur Rahim
5       433558  Bangladesh     4492    Raqibul Hasan
6       433558  Bangladesh     4493      Mahmudullah
7       433558  Bangladesh     4494      Naeem Islam
8       433558  Bangladesh     4495     Abdur Razzak
9       433558  Bangladesh     4496    Shafiul Islam
10      433558  Bangladesh     4497    Rubel Hossain
11      433558       India     4482         V Sehwag
12      433558       India     4483     SR Tendulkar
13      433558       India     4484        G Gambhir
14      433558       India     4485          V Kohli
15      433558       India     4486        YK Pathan
16      433561   Australia      137        SR Watson
17      433561   Australia      138        BJ Haddin
18      433561   Australia      139       RT Ponting
19      433561   Australia      140        MJ Clarke
20      433561   Australia      141         CL White
21      433561   Australia      142        DJ Hussey
22      433561   Australia      143        SPD Smith
23      433561   Australia      144       MG Johnson
24      433561    Zimbabwe      145       BRM Taylor
25      433561    Zimbabwe      146      CK Coventry
26      433561    Zimbabwe      147          T Taibu
27      433561    Zimbabwe      148        CR Ervine
28      433561    Zimbabwe      149     E Chigumbura
29      433561    Zimbabwe      150      SC Williams
...        ...         ...      ...              ...
5926   1157757       India     5557          V Kohli
5927   1157757       India     5558        AT Rayudu
5928   1157757       India     5559         MS Dhoni
5929   1157757       India     5560        KM Jadhav
5930   1157757       India     5561        RA Jadeja
5931   1157757        West     5562         C Hemraj
5932   1157757        West     5563       KOA Powell
5933   1157757        West     5564          SD Hope
5934   1157757        West     5565       MN Samuels
5935   1157757        West     5566       SO Hetmyer
5936   1157757        West     5567         R Powell
5937   1157757        West     5568        JO Holder
5938   1157757        West     5569         FA Allen
5939   1157757        West     5570         AR Nurse
5940   1157757        West     5571         KMA Paul
5941   1157757        West     5572        KAJ Roach
5942   1157758       India     5178        RG Sharma
5943   1157758       India     5179         S Dhawan
5944   1157758       India     5180          V Kohli
5945   1157758        West     5167       KOA Powell
5946   1157758        West     5168         R Powell
5947   1157758        West     5169          SD Hope
5948   1157758        West     5170       MN Samuels
5949   1157758        West     5171       SO Hetmyer
5950   1157758        West     5172        JO Holder
5951   1157758        West     5173         FA Allen
5952   1157758        West     5174         KMA Paul
5953   1157758        West     5175         D Bishoo
5954   1157758        West     5176        KAJ Roach
5955   1157758        West     5177         O Thomas

[5956 rows x 4 columns]

In [178]:
Matches_results.head()

,Unnamed: 0,Date,Team 1,Team 2,Home team,City,winner,lighting,series_name,series_id,description,ground_id,ground_name,match_id
0,0,2011-01-16,AUS,ENG,AUS,Melbourne,AUS,day/night match,England tour of Australia,13062,"England tour of Australia, 1st ODI: Australia ...",61,Melbourne Cricket Ground,446962
1,1,2011-01-21,AUS,ENG,AUS,Hobart,AUS,day/night match,England tour of Australia,13062,"England tour of Australia, 2nd ODI: Australia ...",905,"Bellerive Oval, Hobart",446963
2,2,2011-01-23,AUS,ENG,AUS,Sydney,AUS,day/night match,England tour of Australia,13062,"England tour of Australia, 3rd ODI: Australia ...",132,Sydney Cricket Ground,446964
3,3,2011-01-26,AUS,ENG,AUS,Adelaide,ENG,day/night match,England tour of Australia,13062,"England tour of Australia, 4th ODI: Australia ...",131,Adelaide Oval,446965
4,4,2011-01-30,AUS,ENG,AUS,Brisbane,AUS,day/night match,England tour of Australia,13062,"England tour of Australia, 5th ODI: Australia ...",209,"Brisbane Cricket Ground, Woolloongabba, Brisbane",446966

In [179]:
Matches_results = Matches_results.drop('Unnamed: 0', axis=1)
battingdata = battingdata.drop('Unnamed: 0', axis=1)
bowlingdata = bowlingdata.drop('Unnamed: 0', axis=1)

In [185]:
Matches_results[(Matches_results['Home team'] == 'INDIA')]['City'].value_counts()

Chandigarh            6
Kolkata               5
Visakhapatnam         5
Delhi                 5
Chennai               5
Mumbai                5
Dharamsala            4
Dubai                 4
Pune                  4
Bengaluru             4
Kanpur                3
Ahmedabad             3
Cuttack               3
Ranchi                3
Indore                3
Kochi                 3
Nagpur                3
Hyderabad             2
Rajkot                2
Melbourne             1
Thiruvananthapuram    1
Jaipur                1
Brisbane              1
Perth                 1
Guwahati              1
Birmingham            1
Dhaka                 1
Name: City, dtype: int64

In [98]:
pd.crosstab(Matches_results['Team 1'], Matches_results['Team 2'])

Team 2,AFG,AUS,CAN,ENG,INDIA,IRE,KENYA,NL,NZ,PAK,SA,SCOT,SL,UAE,WI,ZIM
Team 1,,,,,,,,,,,,,,,,
AFG,0,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0
AUS,1,0,1,21,14,1,1,0,6,13,13,1,13,0,5,1
BDESH,0,3,0,0,12,0,0,0,0,0,0,0,0,0,0,0
ENG,0,19,0,0,14,0,0,0,0,0,0,0,0,0,0,0
HKG,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
INDIA,0,11,0,14,0,2,0,1,8,12,9,0,20,1,19,1
IRE,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NZ,0,6,0,0,10,0,0,0,0,0,0,0,0,0,0,0
SA,0,8,0,0,13,0,0,0,0,0,0,0,0,0,0,0
SCOT,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SL,0,10,0,0,10,0,0,0,0,0,0,0,0,0,0,0
WI,0,9,0,0,11,0,0,0,0,0,0,0,0,0,0,0
ZIM,0,2,0,0,11,0,0,0,0,0,0,0,0,0,0,0

In [99]:
Matches_results = Matches_results[~(Matches_results['Team 1'] == 'HKG')]
Matches_results = Matches_results[~(Matches_results['Team 1'] == 'IRE')]
Matches_results = Matches_results[~(Matches_results['Team 1'] == 'SCOT')]
Matches_results = Matches_results[~(Matches_results['Team 1'] == 'AFG')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'CAN')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'KENYA')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'NL')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'SCOT')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'ZIM')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'UAE')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'IRE')]
Matches_results = Matches_results[~(Matches_results['Team 2'] == 'AFG')]

In [100]:
Matches_results['ground_name'] = Matches_results.ground_name.apply(lambda x: x.split(',')[0])

In [101]:
pd.crosstab(Matches_results['Team 1'], Matches_results['Team 2'])

Team 2  AUS  ENG  INDIA  NZ  PAK  SA  SL  WI
Team 1
AUS       0   21     14   6   13  13  13   5
BDESH     3    0     12   0    0   0   0   0
ENG      19    0     14   0    0   0   0   0
INDIA    11   14      0   8   12   9  20  19
NZ        6    0     10   0    0   0   0   0
SA        8    0     13   0    0   0   0   0
SL       10    0     10   0    0   0   0   0
WI        9    0     11   0    0   0   0   0
ZIM       2    0     11   0    0   0   0   0

Dropping Ground_name because we considered City

In [102]:
Matches_results.winner.value_counts()

INDIA    122
AUS       86
ENG       32
SA        22
SL        17
NZ        14
WI        12
PAK        7
BDESH      3
ZIM        1
Name: winner, dtype: int64

In [103]:
n = ['INDIA', 'AUS']

In [104]:
#Matches_results = Matches_results[(Matches_results.winner.isin(n))]

In [105]:
pd.crosstab(Matches_results['Team 1'], Matches_results['Team 2'])

Team 2  AUS  ENG  INDIA  NZ  PAK  SA  SL  WI
Team 1
AUS       0   21     14   6   13  13  13   5
BDESH     3    0     12   0    0   0   0   0
ENG      19    0     14   0    0   0   0   0
INDIA    11   14      0   8   12   9  20  19
NZ        6    0     10   0    0   0   0   0
SA        8    0     13   0    0   0   0   0
SL       10    0     10   0    0   0   0   0
WI        9    0     11   0    0   0   0   0
ZIM       2    0     11   0    0   0   0   0

In [106]:
Matches_results = Matches_results.drop(['Date','series_name','series_id','description','ground_id','ground_name','match_id'], axis=1)

In [107]:
Matches_results.head()

  Team 1 Team 2 Home team       City winner         lighting
0    AUS    ENG       AUS  Melbourne    AUS  day/night match
1    AUS    ENG       AUS     Hobart    AUS  day/night match
2    AUS    ENG       AUS     Sydney    AUS  day/night match
3    AUS    ENG       AUS   Adelaide    ENG  day/night match
4    AUS    ENG       AUS   Brisbane    AUS  day/night match

In [108]:
Matches_results=Matches_results.rename(columns={'Team 1': 'Team', 'Team 2': 'Opposition'})

In [109]:
#Matches_results['Winner'] = 0

In [110]:
#Matches_results.loc[Matches_results['winner'] == Matches_results['Team'], 'Winner'] = 1

In [111]:
#Matches_results = Matches_results.drop(['winner'], axis=1)

In [112]:
Matches_results=Matches_results.replace({'lighting':{'day/night match':0,'day match':1, 'night match':2}})
Matches_results=Matches_results.replace({'winner':{'INDIA':1,'AUS':2, 'ENG':3, 'SA':4, 'SL':5, 'NZ':6, 'WI':7, 'AFG':8, 'ZIM':9, 'PAK':10, 'IRE':11, 'SCOT': 12, 'UAE':13, 'BDESH':14, 'IRE':15}})
#Matches_results=Matches_results.replace({'Team 1':{'INDIA':1,'AUS':2, 'ENG':3, 'SA':4, 'SL':5, 'NZ':6, 'WI':7, 'AFG':8, 'ZIM':9, 'PAK':10, 'IRE':11, 'SCOT': 12, 'UAE':13, 'BDESH':14, 'IRE':15}})
#Matches_results=Matches_results.replace({'Team 2':{'INDIA':1,'AUS':2, 'ENG':3, 'SA':4, 'SL':5, 'NZ':6, 'WI':7, 'AFG':8, 'ZIM':9, 'PAK':10, 'IRE':11, 'SCOT': 12, 'UAE':13, 'BDESH':14, 'IRE':15}})
#Matches_results=Matches_results.replace({'Home team':{'INDIA':1,'AUS':2, 'ENG':3, 'SA':4, 'SL':5, 'NZ':6, 'WI':7, 'AFG':8, 'ZIM':9, 'PAK':10, 'IRE':11, 'SCOT': 12, 'UAE':13, 'BDESH':14, 'IRE':15}})
#Matches_results=Matches_results.replace({'winner':{'INDIA':0,'AUS':1}})

In [113]:
Matches_results[~Matches_results['Home team'].isin(n)]

      Team Opposition Home team               City  winner  lighting
8      AUS         NZ        NZ             Nagpur       2         1
11     AUS        PAK       PAK            Colombo      10         0
13   BDESH        AUS     BDESH              Dhaka       2         1
14   BDESH        AUS     BDESH              Dhaka       2         1
15   BDESH        AUS     BDESH              Dhaka       2         0
16      SL        AUS        SL              Kandy       2         0
17      SL        AUS        SL         Hambantota       2         0
18      SL        AUS        SL         Hambantota       5         0
19      SL        AUS        SL            Colombo       2         0
20      SL        AUS        SL            Colombo       5         0
21      SA        AUS        SA          Centurion       2         0
22      SA        AUS        SA     Port Elizabeth       4         0
23      SA        AUS        SA             Durban       2         0
35      WI        AUS        WI          Kingstown       2         1
36      WI        AUS        WI          Kingstown       7         1
37      WI        AUS        WI          Kingstown       2         1
38      WI        AUS        WI         Gros Islet       7         1
39      WI        AUS        WI         Gros Islet       2         1
40     ENG        AUS       ENG             London       3         1
41     ENG        AUS       ENG             London       3         1
42     ENG        AUS       ENG  Chester-le-Street       3         1
43     ENG        AUS       ENG         Manchester       3         0
45     AUS        PAK       PAK            Sharjah       2         2
46     AUS        PAK       PAK          Abu Dhabi      10         2
47     AUS        PAK       PAK            Sharjah       2         2
57     ENG        AUS       ENG         Birmingham       3         1
58     AUS         NZ        NZ         Birmingham       6         1
59     AUS         SL        SL             London       5         0
61     ENG        AUS       ENG         Manchester       2         1
62     ENG        AUS       ENG            Cardiff       3         1
..     ...        ...       ...                ...     ...       ...
262    ENG      INDIA       ENG        Southampton       3         0
263    ENG      INDIA       ENG             London       3         0
264    ENG      INDIA       ENG             London       1         1
265    ENG      INDIA       ENG            Cardiff       3         0
278    ENG        AUS       ENG             London       3         0
279    ENG        AUS       ENG            Cardiff       3         1
280    ENG        AUS       ENG         Nottingham       3         0
281    ENG        AUS       ENG  Chester-le-Street       3         0
282    ENG        AUS       ENG         Manchester       3         1
290     NZ      INDIA        NZ             Napier       1         0
291     NZ      INDIA        NZ    Mount Maunganui       1         0
292     NZ      INDIA        NZ    Mount Maunganui       1         0
293     NZ      INDIA        NZ           Hamilton       6         0
294     NZ      INDIA        NZ         Wellington       1         0
298    ENG      INDIA       ENG             London       3         1
299    ENG      INDIA       ENG              Leeds       3         1
301  INDIA        PAK       PAK              Dubai       1         1
303  INDIA        PAK       PAK              Dubai       1         1
315     SA      INDIA        SA             Durban       1         0
316     SA      INDIA        SA          Centurion       1         1
317     SA      INDIA        SA          Cape Town       1         0
318     SA      INDIA        SA       Johannesburg       4         0
319     SA      INDIA        SA     Port Elizabeth       1         0
320     SA      INDIA        SA          Centurion       1         0
321    ENG      INDIA       ENG         Nottingham       1         1
322     SL      INDIA        SL           Dambulla       1         0
323     SL      INDIA        SL              Kandy       1         0
324     SL      INDIA        SL              Kandy       1         0
325     SL      INDIA        SL            Colombo       1         0
326     SL      INDIA        SL            Colombo       1         0

[171 rows x 6 columns]

In [115]:
#Matches_results[~Matches_results['Home team'].isin(n)].Winner.value_counts()

In [116]:
#Matches_results[Matches_results['Home team'] == 'INDIA'].ground_name.nunique()

In [117]:
cities_india = ['Chandigarh','Kolkata','Chennai','Visakhapatnam','Hyderabad', 'Nagpur', 'Ranchi', 'Mohali', 'Delhi','Mumbai','Bengaluru','Pune','Dharamsala','Kochi', 'Cuttack', 'Indore', 'Kanpur', 'Ahmedabad', 'Rajkot', 'Guwahati','Thiruvananthapuram', 'Jaipur']

In [118]:
Matches_in_cities = Matches_results[Matches_results.City.isin(cities_india)]

In [119]:
Matches_in_cities

      Team Opposition Home team                City  winner  lighting
8      AUS         NZ        NZ              Nagpur       2         1
12   INDIA        AUS     INDIA           Ahmedabad       1         0
64   INDIA        AUS     INDIA                Pune       2         0
65   INDIA        AUS     INDIA              Jaipur       1         0
66   INDIA        AUS     INDIA          Chandigarh       2         0
67   INDIA        AUS     INDIA              Nagpur       1         0
68   INDIA        AUS     INDIA           Bengaluru       1         0
141  INDIA        ENG     INDIA                Pune       1         0
142  INDIA        ENG     INDIA             Cuttack       1         0
143  INDIA        ENG     INDIA             Kolkata       3         0
156  INDIA         NZ     INDIA          Dharamsala       1         0
157  INDIA         NZ     INDIA               Delhi       6         0
158  INDIA         NZ     INDIA          Chandigarh       1         0
159  INDIA         NZ     INDIA              Ranchi       6         0
160  INDIA         NZ     INDIA       Visakhapatnam       1         0
176  INDIA         SA     INDIA              Kanpur       4         1
177  INDIA         SA     INDIA              Indore       1         0
178  INDIA         SA     INDIA              Rajkot       4         0
179  INDIA         SA     INDIA             Chennai       1         0
180  INDIA         SA     INDIA              Mumbai       4         0
196  INDIA         WI     INDIA               Kochi       7         0
197  INDIA         WI     INDIA               Delhi       1         0
198  INDIA         WI     INDIA          Dharamsala       1         0
199  INDIA         SL     INDIA             Cuttack       1         0
200  INDIA         SL     INDIA           Ahmedabad       1         0
201  INDIA         SL     INDIA           Hyderabad       1         0
202  INDIA         SL     INDIA             Kolkata       1         0
203  INDIA         SL     INDIA              Ranchi       1         0
204  INDIA        PAK     INDIA             Kolkata      10         0
205  INDIA        PAK     INDIA               Delhi       1         0
..     ...        ...       ...                 ...     ...       ...
253  INDIA         SA     INDIA              Nagpur       4         0
254  INDIA         WI     INDIA             Chennai       1         0
255  INDIA        PAK     INDIA          Chandigarh       1         0
256  INDIA         SL     INDIA              Mumbai       1         0
266  INDIA        ENG     INDIA           Hyderabad       1         0
267  INDIA        ENG     INDIA               Delhi       1         0
268  INDIA        ENG     INDIA          Chandigarh       1         0
269  INDIA        ENG     INDIA              Mumbai       1         0
270  INDIA        ENG     INDIA             Kolkata       1         0
271  INDIA         WI     INDIA             Cuttack       1         0
272  INDIA         WI     INDIA       Visakhapatnam       1         0
273  INDIA         WI     INDIA           Ahmedabad       7         0
274  INDIA         WI     INDIA              Indore       1         0
275  INDIA         WI     INDIA             Chennai       1         0
286  INDIA         WI     INDIA  Thiruvananthapuram       1         0
306  INDIA         WI     INDIA            Guwahati       1         0
307  INDIA         WI     INDIA       Visakhapatnam       7         0
308  INDIA         WI     INDIA                Pune       7         0
309  INDIA         WI     INDIA              Mumbai       1         0
310  INDIA         NZ     INDIA                Pune       1         0
311  INDIA         NZ     INDIA              Kanpur       1         0
312  INDIA         SL     INDIA          Dharamsala       5         0
313  INDIA         SL     INDIA          Chandigarh       1         0
314  INDIA         SL     INDIA       Visakhapatnam       1         0
327  INDIA        AUS     INDIA             Chennai       1         0
328  INDIA        AUS     INDIA             Kolkata       1         0
329  INDIA        AUS     INDIA              Indore       1         0
330  INDIA        AUS     INDIA           Bengaluru       2         0
331  INDIA        AUS     INDIA              Nagpur       1         0
332  INDIA         NZ     INDIA              Mumbai       6         0

[70 rows x 6 columns]

In [120]:
Ind_Aus_matches = Matches_results[(Matches_results['Team'] == 'INDIA') | (Matches_results['Team'] == 'AUS')]
Ind_Aus_matches = Ind_Aus_matches[(Ind_Aus_matches['Opposition'] == 'INDIA') | (Ind_Aus_matches['Opposition'] == 'AUS')]

In [121]:
#Matches_results['id'] = np.arange(len(Matches_results))

In [122]:
Matches_results.head()

  Team Opposition Home team       City  winner  lighting
0  AUS        ENG       AUS  Melbourne       2         0
1  AUS        ENG       AUS     Hobart       2         0
2  AUS        ENG       AUS     Sydney       2         0
3  AUS        ENG       AUS   Adelaide       3         0
4  AUS        ENG       AUS   Brisbane       2         0

In [123]:
Matches_results[Matches_results['Home team'] == 'INDIA'].City.value_counts()

Chandigarh            6
Kolkata               5
Visakhapatnam         5
Chennai               5
Mumbai                5
Pune                  4
Delhi                 4
Dharamsala            4
Bengaluru             3
Kanpur                3
Cuttack               3
Ranchi                3
Kochi                 3
Nagpur                3
Indore                3
Ahmedabad             3
Rajkot                2
Hyderabad             2
Dubai                 2
Perth                 1
Jaipur                1
Birmingham            1
Brisbane              1
Guwahati              1
Melbourne             1
Thiruvananthapuram    1
Name: City, dtype: int64

In [124]:
Matches_results[(Matches_results['Home team'] != 'AUS') & (~Matches_results.City.isin(cities_india))].City.value_counts()

Harare               14
Dhaka                13
London               12
Colombo               9
Birmingham            8
Port of Spain         6
Cardiff               6
Dubai                 5
Manchester            5
Hamilton              5
Centurion             5
Kandy                 5
Durban                5
Port Elizabeth        4
North Sound           4
Hambantota            4
Auckland              4
Johannesburg          4
Kingston              4
Kingstown             3
Dambulla              3
Perth                 3
Leeds                 3
Nottingham            3
Cape Town             3
Sharjah               3
Southampton           3
Wellington            3
Brisbane              2
Basseterre            2
Bulawayo              2
Fatullah              2
Providence            2
Chester-le-Street     2
Bridgetown            2
Melbourne             2
Napier                2
Adelaide              2
Gros Islet            2
Mount Maunganui       2
Abu Dhabi             2
Hobart                1
Name: City, dtype: int64

In [125]:
Matches_results.loc[(Matches_results.City == 'Nagpur'), ['Home team']] = 'INDIA'
Matches_results.loc[(Matches_results.City == 'Brisbane'), ['Home team']] = 'AUS'
Matches_results.loc[(Matches_results.City == 'Perth'), ['Home team']] = 'AUS'
Matches_results.loc[(Matches_results.City == 'Melbourne'), ['Home team']] = 'AUS'
Matches_results.loc[(Matches_results.City == 'Birmingham'), ['Home team']] = 'ENG'

In [126]:
#Matches_results.pivot_table(values=['id'], index=['Home team', 'City'], aggfunc='count')

In [127]:
#Ind_Aus_matches.to_excel('IND_AUS_train.xlsx')

In [128]:
Matches_results.to_csv('Match_predictions.csv')

In [129]:
Matches_results_dummy = pd.get_dummies(Matches_results)

In [130]:
Matches_results_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316 entries, 0 to 332
Data columns (total 94 columns):
winner                     316 non-null int64
lighting                   316 non-null int64
Team_AUS                   316 non-null uint8
Team_BDESH                 316 non-null uint8
Team_ENG                   316 non-null uint8
Team_INDIA                 316 non-null uint8
Team_NZ                    316 non-null uint8
Team_SA                    316 non-null uint8
Team_SL                    316 non-null uint8
Team_WI                    316 non-null uint8
Team_ZIM                   316 non-null uint8
Opposition_AUS             316 non-null uint8
Opposition_ENG             316 non-null uint8
Opposition_INDIA           316 non-null uint8
Opposition_NZ              316 non-null uint8
Opposition_PAK             316 non-null uint8
Opposition_SA              316 non-null uint8
Opposition_SL              316 non-null uint8
Opposition_WI              316 non-null uint8
Home team_AUS              316 non-null uint8
Home team_BDESH            316 non-null uint8
Home team_ENG              316 non-null uint8
Home team_INDIA            316 non-null uint8
Home team_NZ               316 non-null uint8
Home team_PAK              316 non-null uint8
Home team_SA               316 non-null uint8
Home team_SL               316 non-null uint8
Home team_WI               316 non-null uint8
Home team_ZIM              316 non-null uint8
City_Abu Dhabi             316 non-null uint8
City_Adelaide              316 non-null uint8
City_Ahmedabad             316 non-null uint8
City_Auckland              316 non-null uint8
City_Basseterre            316 non-null uint8
City_Bengaluru             316 non-null uint8
City_Birmingham            316 non-null uint8
City_Bridgetown            316 non-null uint8
City_Brisbane              316 non-null uint8
City_Bulawayo              316 non-null uint8
City_Canberra              316 non-null uint8
City_Cape Town             316 non-null uint8
City_Cardiff               316 non-null uint8
City_Centurion             316 non-null uint8
City_Chandigarh            316 non-null uint8
City_Chennai               316 non-null uint8
City_Chester-le-Street     316 non-null uint8
City_Colombo               316 non-null uint8
City_Cuttack               316 non-null uint8
City_Dambulla              316 non-null uint8
City_Delhi                 316 non-null uint8
City_Dhaka                 316 non-null uint8
City_Dharamsala            316 non-null uint8
City_Dubai                 316 non-null uint8
City_Durban                316 non-null uint8
City_Fatullah              316 non-null uint8
City_Gros Islet            316 non-null uint8
City_Guwahati              316 non-null uint8
City_Hambantota            316 non-null uint8
City_Hamilton              316 non-null uint8
City_Harare                316 non-null uint8
City_Hobart                316 non-null uint8
City_Hyderabad             316 non-null uint8
City_Indore                316 non-null uint8
City_Jaipur                316 non-null uint8
City_Johannesburg          316 non-null uint8
City_Kandy                 316 non-null uint8
City_Kanpur                316 non-null uint8
City_Kingston              316 non-null uint8
City_Kingstown             316 non-null uint8
City_Kochi                 316 non-null uint8
City_Kolkata               316 non-null uint8
City_Leeds                 316 non-null uint8
City_London                316 non-null uint8
City_Manchester            316 non-null uint8
City_Melbourne             316 non-null uint8
City_Mount Maunganui       316 non-null uint8
City_Mumbai                316 non-null uint8
City_Nagpur                316 non-null uint8
City_Napier                316 non-null uint8
City_North Sound           316 non-null uint8
City_Nottingham            316 non-null uint8
City_Perth                 316 non-null uint8
City_Port Elizabeth        316 non-null uint8
City_Port of Spain         316 non-null uint8
City_Providence            316 non-null uint8
City_Pune                  316 non-null uint8
City_Rajkot                316 non-null uint8
City_Ranchi                316 non-null uint8
City_Sharjah               316 non-null uint8
City_Southampton           316 non-null uint8
City_Sydney                316 non-null uint8
City_Thiruvananthapuram    316 non-null uint8
City_Visakhapatnam         316 non-null uint8
City_Wellington            316 non-null uint8
dtypes: int64(2), uint8(92)
memory usage: 35.8 KB

In [131]:
Matches_results_dummy.shape

(316, 94)

In [133]:
Matches_variables = Matches_results_dummy.drop("winner", axis=1)
Matches_results = Matches_results_dummy["winner"]

In [134]:
# importing necessary libraries 
from sklearn import datasets 
from sklearn.metrics import confusion_matrix 
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [135]:
lr = LogisticRegression(random_state=5, class_weight='balanced')

In [136]:
parameters = {'C': (0.0001, 0.001, 0.01, 0.1, 1, 10)}
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=5)

In [137]:
# dividing X, y into train and test data 
X_train, X_cv, y_train, y_cv = train_test_split(Matches_variables, Matches_results, test_size=0.3,
                                                random_state = 100)

In [138]:
tree = DecisionTreeClassifier(max_depth=5, random_state=17)
knn = KNeighborsClassifier(n_neighbors=10)

tree.fit(X_train, y_train)

# for kNN, we need to scale features
#scaler = StandardScaler()
#X_train_scaled = scaler.fit_transform(X_train)
#X_holdout_scaled = scaler.transform(X_holdout)
knn.fit(X_train, y_train)

tree_pred = tree.predict(X_cv)
accuracy_score(y_cv, tree_pred)

0.631578947368421

In [139]:
tree_pred = tree.predict(X_cv)
accuracy_score(y_cv, tree_pred)

0.631578947368421

In [140]:
knn_pred = knn.predict(X_cv)
accuracy_score(y_cv, knn_pred)

0.5684210526315789

In [141]:
from sklearn.model_selection import GridSearchCV, cross_val_score

tree_params = {'max_depth': range(1,11),
               'max_features': range(4,19)}

tree_grid = GridSearchCV(tree, tree_params,
                         cv=5, n_jobs=-1, verbose=True)

tree_grid.fit(X_train, y_train)

Fitting 5 folds for each of 150 candidates, totalling 750 fits

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:   10.3s
[Parallel(n_jobs=-1)]: Done 750 out of 750 | elapsed:   11.6s finished
C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=17,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'max_depth': range(1, 11), 'max_features': range(4, 19)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=True)

In [142]:
tree_grid.best_params_#{'max_depth': 5, 'max_features': 17}

{'max_depth': 5, 'max_features': 16}

In [143]:
tree_grid.best_score_ #0.94256322331761677

0.6515837104072398

In [144]:
accuracy_score(y_cv, tree_grid.predict(X_cv))

0.5894736842105263

In [145]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100, n_jobs=-1, 
                                random_state=17)
cross_val_score(forest, X_train, y_train, cv=5)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

array([0.64705882, 0.70454545, 0.53488372, 0.69047619, 0.75609756])

In [146]:
forest_params = {'max_depth': range(6, 12),
                 'max_features': range(4, 19)}

forest_grid = GridSearchCV(forest, forest_params,
                           cv=5, n_jobs=-1, verbose=True)

forest_grid.fit(X_train, y_train)

forest_grid.best_params_, forest_grid.best_score_

accuracy_score(y_cv, forest_grid.predict(X_cv))

Fitting 5 folds for each of 90 candidates, totalling 450 fits

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done 426 tasks      | elapsed:   19.8s
[Parallel(n_jobs=-1)]: Done 450 out of 450 | elapsed:   20.9s finished
C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

0.6105263157894737

In [147]:
import pickle #for saving the model

In [148]:
filename = 'model_winner.sav'
pickle.dump(forest_grid, open(filename, 'wb'))

In [149]:
%xmode

Exception reporting mode: Minimal

In [150]:
record = np.zeros((1,316),dtype='float64')
#record[0,315] = 0

In [151]:
from sklearn.svm import SVC
classifier = SVC(kernel = "rbf", random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\rbat\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=0,
  shrinking=True, tol=0.001, verbose=False)

In [152]:
classifier.predict(X_cv)

array([1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [159]:
filename = 'model_winnerSVC.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [165]:
def result(Team, Opposition, Home_team, City, lighting):
    
    dataset = pd.read_csv('Match_predictions.csv')
    vectorized = pd.get_dummies(dataset.iloc[:,1:6])
    
    flag = [False, False, False, False, False]
    
    record = np.zeros((1,93),dtype='float64')
    t = "Team_" + Team
    o = "Opposition_" + Opposition
    h = "Home team_" + Home_team
    c = "City_" + City
    l = lighting
        
    record[0,92] = l
    
    for i,vec in enumerate(vectorized.columns):
        if vec == t:
            record[0,i] = 1
            flag[0] = True
        if vec == o:
            record[0,i] = 1
            flag[1] = True
        if vec == h:
            record[0,i] = 1
            flag[2] = True
        if vec == c:
            record[0,i] = 1
            flag[3] = True
            
    if(flag[0]==True and flag[1]==True and flag[2]==True and flag[3]==True):
        filename = 'model_winnerSVC.sav'
        model = pickle.load(open(filename, 'rb'))
        ans = model.predict(record)
        
        if ans == 1:
            print("INDIA will win")
        elif ans == 2:
            print("AUS will win")
            
    else:
        print("Incorrect details!")

In [187]:
result("AUS","INDIA","INDIA","London",0)

INDIA will win

In [ ]:
from sklearn.pipeline import Pipeline

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 10)}

knn_grid = GridSearchCV(knn_pipe, knn_params,
                        cv=5, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

knn_grid.best_params_, knn_grid.best_score_

In [ ]:
accuracy_score(y_cv, knn_grid.predict(X_cv))

In [80]:
# fit a tree.DecisionTreeClassifier() model to the data
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)
print(); print(model)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [91]:
    # make predictions
    expected_y  = y_cv
    predicted_y = model.predict(X_cv)
    
    # summarize the fit of the model
    print(); print('tree.DecisionTreeClassifier(): ')
#    print(); print(metrics.classification_report(expected_y, predicted_y, 
#                   target_names=dataset.target_names))
    print(); print(metrics.confusion_matrix(expected_y, predicted_y))

tree.DecisionTreeClassifier():

[[27  1]
 [ 0 14]]

In [92]:
# training a Naive Bayes classifier 
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB().fit(X_train, y_train) 
gnb_predictions = gnb.predict(X_cv)

In [93]:
# accuracy on X_test 
accuracy = gnb.score(X_cv, y_cv) 
print(accuracy)

0.6190476190476191

In [94]:
# creating a confusion matrix 
confusion_matrix(y_cv, gnb_predictions)

array([[15, 13],
       [ 3, 11]], dtype=int64)